/* Ensure full-screen layout */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(79, 79, 79);
    font-family: "Segoe UI", Roboto, sans-serif;
}

/* Ensure Dash app content stretches correctly */
#_dash-app-content {
    height: 100%;
    width: 100%;
}

/* Center title */
h1 {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    /*font-size: 2em;*/
    font-size: 2.5vw;
    color: white;
}

/* Responsive graph container */
#heatmap-graph {
    width: 100% !important;
    height: 80vh !important;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: block;
}

/* Table styling for List View tabs */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    color: white;
}
