/* Make sure the entire app takes up the full screen and is scroll-free */
html, body {
    margin: 0;
    padding: 0;
    overflow: yscroll;
    height: 100%;
    width: 100%;
    background-color: rgb(79, 79, 79);
    font-family: "Segoe UI", Roboto, sans-serif;
}

/* Ensure the root div stretches correctly */
#_dash-app-content {
    height: 100%;
    width: 100%;
}

/* Center the H1 title and remove extra spacing */
h1 {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-size: 2em;
    color: #222;
    background-color: "blue";
}

/* Tweak the graph container */
#heatmap-graph {
    width: 100vw !important;
    height: 90vh !important; /* adjust based on H1 height */
    padding: 0;
    margin: 0;
    display: block;
}

/* For List View tab */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
